[submodule "cmake"]
	path = cmake
	url = https://github.com/dnasdw/libsundaowen_cmake.git
[submodule "dep/libsundaowen_openwrt"]
	path = dep/libsundaowen_openwrt
	url = https://github.com/dnasdw/libsundaowen_src_openwrt.git
[submodule "dep/openssl"]
	path = dep/openssl
	url = https://github.com/dnasdw/libsundaowen_openssl.git
[submodule "dep/curl"]
	path = dep/curl
	url = https://github.com/dnasdw/libsundaowen_curl.git
